.image-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-image: url("../../images/space.jpg");
}
.image-background {
  background: rgb(255, 255, 255);
  position: absolute;
  top: 10vh;
  left: 0;
  right: 0;
  width: 45%;
  margin: auto;
  padding: 1rem;
}
.image-content {
  text-align: center;
}
.image-content > Typography {
  padding: 1rem;
}
